---
import logo from '../images/logo.png';
---
<div id="About">
<div><h1 style = "text-align: center;">About Us</h1></div>
<div style="display:flex;justify-content:center;align-items:center;flex-direction:column;">
    <img style = "border-radius:50%;display:block;height:150px;width:150px;margin-top:15px;margin-bottom:15px;" src = {logo} alt="" />
    <p style = "padding:0px 100px;">FinEdge is a leading fintech company dedicated to transforming the way people manage their finances. 
        With our cutting-edge technology and innovative solutions, we empower individuals and businesses to navigate the modern financial 
        landscape with ease and confidence. At FinEdge, we believe that financial services should be accessible, transparent, and tailored to
        individual needs. Our comprehensive suite of digital banking services, secure payment 
        solutions, and personalized financial management tools are designed to simplify and enhance the financial lives of our customers. 
        Whether you're looking to streamline payments, invest intelligently, or plan for a secure financial future, FinEdge is your trusted 
        partner in navigating the ever-evolving world of finance. Join us on this exciting journey and experience the future of fintech with FinEdge.</p>
</div>
</div>


